<br />
<h1>Dashboard</h1>
<table class="table table-bordered">
  <tr>
    <th>Number of Categories</th>
    <td>
      <%= @categories_count%>
    </td>
  </tr>
  <tr>
    <th>Number of Products</th>
    <td>
      <%= @products_count%>
    </td>
  </tr>
</table>
