    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>